#player {
  width:200px;
  height:200px;
  cursor: pointer;
  position: relative;

  &:focus {
    outline:0;
  }

  &.active #play {
    transform: rotate( 90deg ) scale( 0 );
    opacity: 0;
  }

  &:not( .active ) #stop  {
    transform: rotate( -90deg ) scale( 0 );
    opacity: 0;
  }

  svg {
    height: 100%;
    width: 100%;
  }
  
}

#play, #stop {
  width: 100%;
  height: 100%;
  transition: all .35s ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
}


#circle {
  fill: none;
  stroke: black;
  stroke-width: 5px;
}