

/** VOLUME SLIDER **/

input[type=range] {
  height: 58px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 80%;
  max-width: 300px;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: orangered;
  border-radius: 3px;
  border: 0px solid #F27B7F;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #A6A6A6;
  border: 2px solid #968994;
  height: 50px;
  width: 17px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -23px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: orangered;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #A6A6A6;
  background: orangered;
  border-radius: 3px;
  border: 0px solid #F27B7F;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #A6A6A6;
  border: 2px solid #968994;
  height: 50px;
  width: 17px;
  border-radius: 2px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: orangered;
  border: 0px solid #F27B7F;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #A6A6A6;
}
input[type=range]::-ms-fill-upper {
  background: orangered;
  border: 0px solid #F27B7F;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #A6A6A6;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #A6A6A6;
  border: 2px solid #968994;
  height: 50px;
  width: 17px;
  border-radius: 2px;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: orangered;
}
input[type=range]:focus::-ms-fill-upper {
  background: orangered;
}
