<template lang='pug'>
  #player(@click='togglePlay' :class='{ active: status === "play", loading }')
    audio(ref='audio'
      @canplaythrough='loading=false')
      source(:src='src')
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
      <circle id='circle' cx="50%" cy="50%" r="42%"/>
    </svg>
    #stop
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <g><g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)"><path d="M3598.3,1507.4l-46.2-48.3v-1354v-1356.1l48.3-44.1l48.3-46.2h1354h1356.1l44.1,48.3l46.2,48.3v1354v1356l-48.3,44.1l-48.3,46.2h-1354h-1356L3598.3,1507.4z"/></g></g>
      </svg>
    #play
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <g><g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)"><path d="M3885.7,2036.4c-29.2-29.2-33.4-229.6-33.4-1888.8c0-1241.8,6.3-1872.1,20.9-1899.2c27.1-48,104.4-52.2,194.1-6.3C4286.4-1645.2,7143.6,14,7166.6,41.2c33.4,41.7,33.4,154.4-2.1,196.2c-20.9,27.1-2876,1686.3-3097.2,1799C3983.8,2078.1,3927.5,2078.1,3885.7,2036.4z"/></g></g>
      </svg>

</template>

<script>

export default {
  props: {
    src: { type: String, default: 'https://s.streampunk.cc/blackout.mp3' }
  },
  data () {
    return {
      loading: true,
      status: 'pause',
      volume: 100
    }
  },
  methods: {
    updateVolume (v) {
      const volume = v.target.value
      this.$refs.audio.volume = volume / 100
    },
    togglePlay () {
      if (this.status === 'play') {
        this.$refs.audio.load()
      } else {
        this.$refs.audio.play()
      }
      this.status = this.status === 'play' ? 'pause' : 'play'
    }
  }
}
</script>
<style lang='scss' scoped>
@import './assets/css/slider.scss';
@import './assets/css/main.scss';
</style>
